/* this is the container for the pages */
.wy-nav-content {
    max-width: 100%;
    padding: 60px 40px 0px 0px; /* added top padding */
    margin-top: 0px;
}

.wy-nav-content-wrap {
    border-right: solid 1px;
}

div.rst-content {
    max-width: 1300px;
    border: 0;
    padding: 10px 80px 10px 80px;
    margin-left: 50px;
}

@media (max-width: 768px) {
    div.rst-content {
        max-width: 1300px;
        border: 0;
        padding: 0px 10px 10px 10px;
        margin-left: 0px;
    }
}

/* Minimal UI fixes */

/* Fix 1: Reduce excessive header sizes */
.rst-content h1 {
    font-size: 2.2rem;
}

.rst-content h2 {
    font-size: 1.8rem;
}

/* Fix 2: Improve dark mode link visibility */
[data-theme="dark"] .rst-content a {
    color: #5ca8ff;
}

/* Fix 3: Better sidebar navigation spacing */
.wy-menu-vertical li a {
    padding: 0.6em 1.2em;
}

/* Fix 4: Reduce list indentation */
.rst-content ul,
.rst-content ol {
    margin-left: 1.5rem;
}